<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>複雜生活節 Complex Festival</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>複雜生活節 Complex festival</title>
    <meta property="og:title" content="複雜生活節 Complex festival" />
    <meta property="og:description" content="工作狂網友見面會，八年級自定義論壇" />
    <meta property="og:image" content="http://complexfestival.info/img/ogimg.jpg" />
    <meta property="og:url" content="http://complexfestival.info/" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <html>

    <body>
        <div class="mousedownicon"></div>
        <div class="words">
            <!--#page_about
      h1 {{title}}
      h4 {{innertext}}
      -->
            <div class="page_index"><img class="logo getlogo" src="http://complexfestival.info/logo.png" />
                <h4>Complex Festival</h4>
                <h3 id="mymass">0</h3>
                <h5><br>我們都是恆星 /&nbsp;燃盡生命貪婪膨脹的存在</h5>
                <h6 class="ftext" id="alarmtext">你創立了一個新的社團</h6>
            </div>
            <!--#enterbtn.enterbtn 進入-->
        </div>
        <div class="blackmask" id="mask"></div>
        <div class="page2">
            <div class="backcircle">
                <div class="linecircle1">
                    <div class="planet"></div>
                </div>
                <div class="linecircle2"></div>
            </div>
            <h1 class="title">複雜生活節 緣起</h1>
            <p class="intro"> <span class="i1">一個月前，一群在網路上互有認識的各地團隊忽然想試試看聚在一起交流，於是有了複雜生活節。<br><br></span><span class="i2">這群人有些共同關鍵字：八年級、連續工作狂、反覆實踐、自稱系邊、帶給朋友們無窮希望...。不管怎麼說，這群八年級生聚在一起實在太狂了！現在市面上有太多以「成功」為名的論壇，但是我們認為，論壇有更多可能性，特別是當我們年紀相仿，一定有更多隱藏版功能可以解鎖，於是漸漸長出了這樣一個說做就做的複雜生活節。我們無法扮演完美理型，這是一個以「成長」為名的祭典。<br><br></span>
                <span class="i3">為期兩天的複雜生活節，無法讓你一勞永逸，解決一切問題，反而讓你在有限的人生裡，有機會迸發更多美好可能，原本多元繽紛的生活，變得更加難以想像。<br><br>&nbsp;&nbsp;&nbsp;更加複雜。<br><br>而這裡，將會是碰撞的最佳空間。<br><br></span><span class="i4">黃豆泥、許皓甯</span></p>
        </div>
        <div class="page3">
            <h1 class="title">活動介紹</h1>
            <div class="world">
                <div class="c1">
                    <div class="locate">
                        <div class="hide planet"></div>
                        <div class="actbox act1">
                            <h3>好想說的秘密</h3>
                            <h2>社團告解室</h2>
                            <h4>人在社團中，誰能不出包。<br>來來來，我們出包人慈悲為懷，5/28<br>幫你變聲不露臉<br>我們夜晚野台見</h4>
                        </div>
                    </div>
                </div>
                <div class="c2">
                    <div class="locate">
                        <div class="square planet"></div>
                        <div class="actbox act2">
                            <h3>獵人才天堂</h3>
                            <h2>地下職業工會</h2>
                            <h4>想做事沒事做，<br>或不太會做事被逼著做嗎？<br>不管是高手佛心帶學徒<br>還是新手找人推副本<br>職。業。工。會<br>都是你過勞加班的最佳選擇Ｒ！！！</h4>
                        </div>
                    </div>
                </div>
                <div class="c3">
                    <div class="locate">
                        <div class="tri planet"></div>
                        <div class="actbox act3">
                            <h3>「那時世界還很新，需要用手去指。」</h3>
                            <h2>閃電秀</h2>
                            <h4>複雜生活節當天<br>請幫我們盯緊每一位與會者<br>如果發現他應上台而未上台<br>請私訊通報小編<br>我們會派出講師獵犬<br>抓他上台，分享他的特異功能@_@</h4>
                        </div>
                    </div>
                </div>
                <div class="c4">
                    <div class="locate">
                        <div class="five planet"></div>
                        <div class="actbox act4">
                            <h3>一組講者聽不夠，那就......</h3>
                            <h2>對談式論壇</h2>
                            <h4>那就一次聽兩團吧<br>我們設置了六成以上的論壇<br>從單團演講，升級為同質雙團論壇<br>讓聽眾能從兩種角度，來探索一個方向</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page4">
            <!--h1.title 複雜生活節拉霸-->
            <div class="mainplayrow">
                <div class="leftbox hide">
                    <div class="leftline"></div>
                    <div class="leftline2"></div>
                </div>
                <div class="box1 box transdelay300 hide">
                    <div class="tag">有一天</div>
                    <div class="posbox">
                        <ul class="transdelay300" id="game_li1">
                            <li>上病理課</li>
                            <li>做好玩的事情</li>
                            <li>看到了蟾蜍山</li>
                            <li>看了線上課程</li>
                            <li>上了心理學</li>
                        </ul>
                    </div>
                    <div class="control">
                        <div class="leftpart">
                            <h4 class="stitle0">複雜生活產生器</h4>
                            <h2 class="stitle">創造我的複雜生活</h2>
                            <h4 class="stitle2">CREATE MY COMPLEX LIFE</h4>
                            <div class="btnshare">分享</div>
                        </div>
                        <div class="rightpart">
                            <div class="outbox">
                                <div class="inbox">
                                    <div class="showpart">
                                        <div class="bar">
                                            <div class="ball"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box2 box transdelay500 hide">
                    <div class="tag">竟然</div>
                    <div class="posbox">
                        <ul class="transdelay500" id="game_li2">
                            <li>出了狀況</li>
                            <li>看到天空</li>
                            <li>覺得一頭霧水</li>
                            <li>受到校方阻撓</li>
                            <li>覺得世界是場遊戲</li>
                        </ul>
                    </div>
                </div>
                <div class="box3 box transdelay700 hide">
                    <div class="tag">然後就</div>
                    <div class="posbox">
                        <ul class="transdelay700" id="game_li3">
                            <li>創業出去惹</li>
                            <li>辦了雜誌</li>
                            <li>成立自己平台</li>
                            <li>改造了設計風格</li>
                            <li>成立的Inpsy</li>
                            <li>然後就休學惹</li>
                            <li>成立網頁設計工作室</li>
                            <li>決定發起慢媒體</li>
                            <li>在hahow修了十堂課</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page5" id="teampage">
            <div class="titlebox"></div>
            <h1 class="title">參與團隊
                <div class="bottomline"></div>
            </h1>
            <div class="contentblock">
                <div class="leftpanel">
                    <div class="cursor"></div>
                </div>
                <div class="rightpanel">
                    <ul id="teamlist">
                        <li class="teambox" v-for="team in teamdatas" style="transition-delay: {{0.04*$index}}s">
                            <div class="logo"><img src="{{team.imgurl}}" /></div>
                            <div class="info">
                                <div class="teamtitle"># {{team.num}}&nbsp;{{team.name}}<span class="pname">&nbsp;| {{team.person}}</span></div>
                                <div class="moreinfo">{{team.describe}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page6">
            <div class="persons_big_pic">
                <a href="https://www.facebook.com/ComplexFestival/posts/1070104589723423" target="_blank"><img class="allp" src="https://i.imgur.com/kbNi4oE.png" /></a>
            </div>
            <div class="right6">
                <div class="titles6">
                    <h1 class="bignum">32</h1>
                    <h1 class="title">參與講者</h1>
                    <div class="greenbar"></div>
                    <h3 class="dis">共計32名精選講者分享</h3>
                </div>
            </div>
            <!--ul#personpics
      li(v-for="url in urls")
        img(src="{{url}}")
      
      
      -->
        </div>
        <div class="page8"><img src="http://complexfestival.info/time0.png" /></div>
        <div class="page9"><img src="http://complexfestival.info/time1.png" /></div>
        <div class="page10"><img class="logo" src="http://complexfestival.info/logo.png" />
            <div class="earth"></div>
        </div>
        <canvas width="500" height="500" id="myCanvas"></canvas>
    </body>

    </html>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js'></script>

    <script src="js/index.js"></script>

</body>

</html>